jupyterlab
notebook
tqdm
python-dotenv

yfinance
pandas
numpy
requests
feedparser
beautifulsoup4
lxml
gdeltdoc


transformers
sentence-transformers
nltk
spacy

torch
torchvision
torchaudio
tensorflow
keras
statsmodels
sktime

scikit-learn
shap
captum

matplotlib
seaborn
plotly

bt
optuna

nbconvert
pweave